html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  text-decoration: none;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-image: linear-gradient(rgba(0, 110, 255, 0.7), rgba(145, 145, 255, 0.9)), url("/weather-bg.jpg");
  background-repeat: no-repeat;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a:active {
  color: inherit;
}

a:visited {
  color: inherit;
}

@font-face {
  font-family: "Outfit-semi";
  src: url("/fonts/Outfit-SemiBold.ttf");
}
@font-face {
  font-family: "Outfit-thin";
  src: url("/fonts/Outfit-Thin.ttf");
}
@font-face {
  font-family: "Outfit-reg";
  src: url("/fonts/Outfit-Regular.ttf");
}
#main-wrapper {
  height: 90vh;
  width: 100%;
  display: flex;
  overflow: hidden;
}

.navigation-wrapper {
  height: 10vh;
  font-family: "Outfit-reg";
  color: white;
}
.navigation-wrapper .navigation-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5em;
  background: none;
}

.welcome-wrapper {
  width: 100%;
}
.welcome-wrapper .title-wrapper {
  text-align: center;
}
.welcome-wrapper .title-wrapper .title {
  font-family: "Outfit-semi";
  color: white;
  font-size: 4rem;
  background: none;
}
.welcome-wrapper .title-wrapper .title-desc {
  font-family: "Outfit-thin";
  color: white;
  font-size: 2.3rem;
  background: none;
}
.welcome-wrapper .title-wrapper .title-image {
  width: 300px;
}
.welcome-wrapper .input-wrapper {
  display: flex;
  position: relative;
  width: -moz-max-content;
  width: max-content;
  margin: auto;
  margin-top: 2.5em;
}
.welcome-wrapper .input-wrapper #countries {
  position: relative;
  z-index: 2;
  font-family: "Outfit-reg";
  font-size: 1.1rem;
  padding-block: 0.7em;
  padding-inline: 1em;
  border-radius: 5px;
  border: none;
}
.welcome-wrapper .input-wrapper #countries:focus {
  outline: none;
}
.welcome-wrapper .input-wrapper .suggestions {
  background-color: red;
  background: none;
  position: absolute;
  top: 95%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 260px;
  overflow: auto;
}
.welcome-wrapper .input-wrapper .suggestions::-webkit-scrollbar {
  width: 5px;
}
.welcome-wrapper .input-wrapper .suggestions::-webkit-scrollbar-thumb {
  background-color: #777777;
  border-radius: 6px;
}
.welcome-wrapper .input-wrapper .suggestions::-webkit-scrollbar-track {
  background-color: transparent;
}
.welcome-wrapper .input-wrapper .suggestions li {
  background: none;
  width: auto;
  font-family: "Outfit-reg";
  color: white;
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0.5em;
  padding: 0.7em;
  border-radius: 5px;
  cursor: pointer;
}

.weather-content-wrapper {
  width: 0;
  background-color: white;
  border-radius: 15px;
  height: 760px;
  overflow: hidden;
}
.weather-content-wrapper .weather-grid {
  display: grid;
  grid-template-areas: "basic forecast" "conditions forecast";
}
.weather-content-wrapper .weather-grid .weather-col-1 {
  grid-area: basic;
  display: flex;
  flex-direction: column;
  padding: 2em;
}
.weather-content-wrapper .weather-grid .weather-col-1 .weather-basic {
  display: flex;
  align-items: center;
  padding-bottom: 5em;
}
.weather-content-wrapper .weather-grid .weather-col-1 .weather-basic .weather-city-location {
  background: none;
  font-family: "Outfit-semi";
  font-size: 2rem;
  color: rgb(39, 39, 39);
}
.weather-content-wrapper .weather-grid .weather-col-1 .weather-basic .weather-image {
  width: auto;
  height: 100%;
  margin-left: auto;
}
.weather-content-wrapper .weather-grid .weather-col-1 .weather-text {
  font-family: "Outfit-reg";
  font-size: 1.4rem;
  color: rgba(68, 68, 68, 0.4);
}
.weather-content-wrapper .weather-grid .weather-col-1 .weather-celsius {
  font-family: "Outfit-semi";
  font-size: 4rem;
  color: rgb(39, 39, 39);
}
.weather-content-wrapper .weather-col-2 {
  grid-area: conditions;
  background-color: rgba(235, 236, 241, 0.6);
  padding: 2em;
  border-radius: 15px;
  margin: 2em;
  margin-top: 5em;
}
.weather-content-wrapper .weather-col-2 .weather-conditions-title {
  font-family: "Outfit-semi";
  text-transform: uppercase;
  background: none;
  font-size: 0.9rem;
  color: #90939c;
  padding: 0.5em;
  padding-bottom: 2em;
}
.weather-content-wrapper .weather-col-2 .weather-conditions {
  max-width: 700px;
  display: flex;
  flex-wrap: wrap;
  gap: 1em 10em;
}
.weather-content-wrapper .weather-col-2 .weather-conditions .condition {
  flex-basis: 200px;
  font-family: "Outfit-reg";
  display: flex;
}
.weather-content-wrapper .weather-col-2 .weather-conditions .condition .condition-title {
  color: #90939c;
  font-family: "Outfit-reg";
  font-size: 1rem;
}
.weather-content-wrapper .weather-col-2 .weather-conditions .condition .condition-value {
  color: rgb(39, 39, 39);
  font-family: "Outfit-semi";
  font-size: 1.9rem;
}
.weather-content-wrapper .weather-col-2 .weather-conditions .condition div {
  margin-left: 0.5em;
}
.weather-content-wrapper .weather-col-2 .weather-conditions .condition div > * {
  display: block;
  line-height: 120%;
}
.weather-content-wrapper .weather-col-2 .weather-conditions .condition div > .condition-title {
  line-height: 200%;
}
.weather-content-wrapper .weather-col-3 {
  grid-area: forecast;
  background-color: rgba(235, 236, 241, 0.6);
  padding: 2em;
  margin: 0em 2em 2em 0.5em;
  margin-top: 5em;
  border-radius: 15px;
}
.weather-content-wrapper .weather-col-3 .weather-forecast-title {
  font-family: "Outfit-semi";
  text-transform: uppercase;
  background: none;
  font-size: 0.9rem;
  color: #90939c;
  padding: 0.5em;
  padding-bottom: 2em;
}
.weather-content-wrapper .weather-col-3 .forecastday {
  color: #90939c;
  font-family: "Outfit-reg";
  font-size: 1rem;
  width: 100%;
  height: 174.6406666667px;
  border-bottom: 2px solid #90939c;
  display: grid;
  grid-template-areas: "day icon" "text text";
  align-content: center;
}
.weather-content-wrapper .weather-col-3 .forecast-day {
  grid-area: day;
  line-height: 400%;
}
.weather-content-wrapper .weather-col-3 .forecast-condition {
  grid-area: text;
  font-family: "Outfit-semi";
  font-size: 1rem;
  color: rgb(39, 39, 39);
}
.weather-content-wrapper .weather-col-3 .forecast-celsius {
  background: none;
  float: right;
  margin-left: 2em;
}
.weather-content-wrapper .weather-col-3 .forecast-celsius .max-c {
  font-family: "Outfit-semi";
  font-size: 1rem;
  color: rgb(39, 39, 39);
}
.weather-content-wrapper .weather-col-3 .forecast-celsius .min-c {
  font-family: "Outfit-reg";
  font-size: 1rem;
  color: #90939c;
}
.weather-content-wrapper .weather-col-3 .forecast-image {
  grid-area: icon;
  margin-left: auto;
}

@keyframes SHRINK_MAIN {
  0% {
    width: 100%;
  }
  100% {
    width: 30%;
  }
}
@keyframes EXPAND_WEATHER {
  0% {
    width: 0%;
  }
  20% {
    width: 0%;
  }
  100% {
    width: 65%;
  }
}